@import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap');

$background: #333;
$elevation: #444;
$font-color: #c01e09;
$save-color: #11ad0c;

$text-font: "Rubik Scribble", sans-serif;
